@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

:root {
    --dark-background: rgb(77, 77, 77);
    --light-background: white;

    --foreground-light: black;
    --tile-background-light: white;
    --text-color-light: black;

    --foreground-dark: white;
    --tile-background-dark: gray;
    --text-color-dark: white;
}

nav{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 7vh;
}

div#navigation {
    background-color: hsl(0, 0%, 21%);
}

a.page_label {
    color: white;
}

a.page_label:hover {
    color: gray;
    background-color: white;
}

body.body-light {
    padding-top: 7vh;
    background-color: var(--light-background);
}

body.body-dark {
    padding-top: 7vh;
    background-color: var(--dark-background);
}


form.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 15vh;
    height: auto;
    margin: 25px;
}

#signOut {
    background-color: red;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#changeUsernameButton,
#changeProfilePictureButton,
#changeEmailButton,
#changePasswordButton {
    background-color: grey;
    color: white;
    padding: 15px 0px;
    width: 15vh;
    border: none;
    cursor: pointer;
}

#mainBody {
    padding-top: 10vh;
}