@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

nav{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 7vh;
}

div#navigation {
    background-color: hsl(0, 0%, 21%);
}

a.page_label {
    color: white;
}

a.page_label:hover {
    color: gray;
    background-color: white;
}

#body{
    padding-top: 7vh;
}

form.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username,
#email,
#password,
#cPassword {
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
}

#submitButton {
    background-color: green;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#cancelButton {
    background-color: red;
    color: white;
    padding: 15px 25px;
    margin: 0px;
    border: none;
    cursor: pointer;
}

#mainBody {
    padding-top: 10vh;
}