@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

nav{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 7vh;
}

div#navigation{
    padding-top: 2vh;
}


form.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 15vh;
    height: auto;
    margin: 25px;
}

#signOut {
    background-color: red;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#changeUsernameButton,
#changeProfilePictureButton,
#changeEmailButton,
#changePasswordButton {
    background-color: grey;
    color: white;
    padding: 15px 0px;
    width: 15vh;
    border: none;
    cursor: pointer;
}

#mainBody {
    padding-top: 10vh;
}