form.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username,
#email,
#password,
#cPassword {
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
}

#submitButton {
    background-color: green;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#cancelButton {
    background-color: red;
    color: white;
    padding: 15px 25px;
    margin: 0px;
    border: none;
    cursor: pointer;
}

#mainBody {
    padding-top: 10vh;
}