@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

:root {
    --foreground: white;
    --dark-background: rgb(77, 77, 77);
    --light-background: white;
    --tile-background: gray;
    --text-color: gray;
}

nav{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 7vh;
}

div#navigation {
    color: white;
    background-color: hsl(0, 0%, 21%);
    
}

a.page_label {
    color: white;
    
}

a.page_label:hover {
    color: var(--text-color);
    background-color: white;
}

body.body-light {
    padding-top: 7vh;
    background-color: var(--light-background);
}

body.body-dark {
    padding-top: 7vh;
    background-color: var(--dark-background);
}

div.light-background {
    padding-top: 7vh;
    background-color: var(--tile-background);
}

table, button{
    width: 100%;
}

#menu_list{
    padding: 2vh;
    height: 93%;
}

p#menu_header{
    color: var(--foreground);
    text-align: center;
    font-weight: bold;
    font-size: large;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p#settings_header{
    color: var(--foreground);
    text-align: center;
    font-weight: bold;
    font-size: large;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

td#setting_label{
    padding: 10px;
    text-align: center;
    width: 20%;
    border-radius: 15px;
    box-shadow: 0 0 3px #ddd;
    color: var(--text-color);
    background-color: var(--light-background);
}

div#dropdown_button{
    padding-left: 20px;
    height: 100%;
    width: 100%;
}

div#visibility_radio {
    padding-left: 20px;
    padding-top: 10px;
}

label.radio {
    color: var(--foreground);
}

#selectedOption{
    background-color: gray;
    color: white;
}